<app-navbar>

</app-navbar>

<div class="container"> 
 
  <router-outlet></router-outlet>
  
</div>
<!-- <h1>BRQ</h1> -->

<!-- {{ title }}  -->

<!-- interpolação de metodo  CTRL + K + C-->
<!-- <div class="azul"> -->
  <!-- {{ getTitle() }} -->
<!-- </div> -->

<!-- quando clicar chama um metodo -->
<!-- <button class="btn btn-primary" (click)="onMeuBotaoClick()" [disabled]="isDesabilitado"> Botão </button>

<br>

<input class ="form-control" (keyup) ="capturarDados($event.target.value)"/> -->

<!-- <p>{{ nome  }}</p>

<br>

<input [(ngModel)]="nome" />
<br>
<input type="text" [value]="isDesabilitado">
 
chamando um component dentro do app component -->
 <!-- <app-primeiro>

</app-primeiro>  -->

<!-- <app-primeiro>

</app-primeiro> -->

<!-- <app-home [tituloFilho] ="title"
  (emitirEvento)="receiveEmitirEvento($event)"
  
>
  
</app-home> -->

<!-- <br>
<br>
<h3>Cadastro de alunos</h3> -->

