<h1>BRQ</h1>

{{ title }} 

<!-- interpolação de metodo  CTRL + K + C-->
<div class="azul">
  {{ getTitle() }}
</div>

<!-- quando clicar chama um metodo -->
<button (click)="onMeuBotaoClick()" [disabled]="isDesabilitado"> Botão </button>

<br>

<input (keyup) ="capturarDados($event.target.value)"/>

<p>{{ nome  }}</p>

<br>

<input [(ngModel)]="nome" />
<br>
<input type="text" [value]="isDesabilitado">
 
<!-- chamando um component dentro do app component -->
<app-primeiro>

</app-primeiro>

<!-- <app-primeiro>

</app-primeiro> -->

<app-home [tituloFilho] ="title"
  (emitirEvento)="receiveEmitirEvento($event)"
  
>
  
</app-home>

