
<div class="row float-left mb-3 mt-3">
    <a class="btn btn-success" [routerLink]="['/alunos/aluno-form']">
        Novo Aluno
    </a>
</div>


<!-- <div class="row float-right mb-3 mt-3">
    <button (click)="onDelete()">

    </button>
</div> -->

<table class="table table-hover">
    <tr class="thead-dark">
        <th>Matricula</th>
        <th>Nome</th>
        <th>Turma</th>
        <th th class="text-center" >Ação</th>
    </tr>

    <tr *ngFor="let a of alunos">
        <td>{{a.matriculaAluno}}</td>
        <td>{{a.nomeAluno}}</td>
        <td>{{a.turmaAluno}}</td>
        <td align="center"> 
            <button class="btn btn-primary ml-10 mr-3"(click) = "onAlunoClick(a.matriculaAluno)">Selecionar</button>
            <a class="btn btn-warning mr-3"[routerLink]="['/alunos/aluno-form', a.matriculaAluno]">Editar</a>  
            <button class="btn btn-danger" (click) = "onDeleteClick(a.matriculaAluno)"> Deletar</button> 
        </td>
    </tr>
    
</table>



<app-aluno-detalhe [aluno]="alunoDetalhe">

</app-aluno-detalhe>
